h2 {
	color: black;
	text-align: center;
	background: white;
	font-family: helvetica;
	font-size: 28px;
}
img {
	margin: 40px 0px 0px 0px;
}
p {
	color: black;
	text-align: center;
	background: white;
	font-family: helvetica;
	font-size: 18px;
	font-style: bold;
}
body {
	background: white;
	color: black;
	text-align: center;
}
ul {
	padding: 10px;
	background: white;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
a {
	color: blue;
	font-size: 15px;
	font-family: helvetica;
}

